name: test

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:

jobs:
  golangci-lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 1
    - uses: actions/setup-go@v3
      with:
        go-version: 1.18.x
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3.3.1
      with:
        version: v1.45.0
        args: --verbose

  test-unit:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.18.x
    - uses: actions/checkout@v3.3.0
      with:
        fetch-depth: 1
    - name: "Run unit tests"
      run: go test -v .